@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

/* Begin table CSS */
table{
	margin: 1em auto;
}

table caption{
	font-variant: small-caps;
}

table tbody:last-of-type tr:nth-of-type(5) td:last-child{
	border-bottom: 1px solid;
}

table td:last-child{
	text-align: right;
	font-variant-numeric: tabular-nums;
}
/* End table CSS */

#preface footer p:first-of-type{
	font-variant: small-caps;
}
