@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

footer p:first-of-type{
	font-variant: small-caps;
}

table{
	margin: 1em auto;
}

table caption{
	font-variant: small-caps;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

table tfoot td:last-child{
	border-top: 1px solid;
}
